*{
    margin: 0;
    background-color: #052F5F;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title{
    padding-top:40px;
    padding-bottom: 40px;
    /* background-color: red; */
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    font: 20px;
    color: white(0, 0, 0);
    width: 100%;
}

.title h1{
    color: white;
}
.title h2{
    color: white;
}
.options{
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
}
.options .middle{
    display: flex;
    height: 450px;
    width: 95%;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.options .column-left{
    height: 400px;
    width: 45%;
    border-radius: 40px;
    background-color: #005377;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.options .column-right{
    border-radius: 40px;
    height: 400px;
    width: 45%;
    background-color: #005377;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.image{
    overflow: hidden;
    background-color: #005377;
}
.placeholder{
    background-color: #005377;
    border-radius: 30px;
    color: white;
    height: 150px;
    width: 155px;
    background-color: #C33C54;
}
.info{
    background-color: #1ABA8F;
    border-radius: 40px;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info h3, h5{
    font-size: 22px;
    background-color:#1ABA8F;
    color: rgb(0, 0, 0);
}

.info h3{
    font-size:24px;
}


.playerResults{
    margin: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
li {
    margin: 10px;
    color: rgb(9, 222, 9);
}
.active{
    color:red;
}

button:hover{
    background-color: #9A031E;
}
